<footer class="footer">
  <div class="grid wide">
    <div class="flex-container row-gutter-lr-16">
      <div class="footer_content col-gutter-lr-16">
        <h1 class="footer_title">Giới Thiệu</h1>
        <p class="footer_about">
          Chào mừng bạn đến với trang tin tức của chúng tôi! Tại đây, bạn sẽ khám phá những câu chuyện phong phú và sâu
          sắc từ khắp nơi trên thế giới. Hãy cùng chúng tôi trải nghiệm hành trình đón nhận tri thức, cập nhật những góc
          nhìn mới và nuôi dưỡng niềm đam mê khám phá mỗi ngày!
        </p>
      </div>
      <div class="footer_content col-gutter-lr-16">
        <h1 class="footer_title">Thông tin</h1>
        <ul class="info_list">
          <li class="info_item"><a href="">Chính sách</a></li>
          <li class="info_item"><a href="">Điều khoản</a></li>
          <li class="info_item"><a href="">Trợ giúp</a></li>
          <li class="info_item"><a href="">Fanpage</a></li>
        </ul>
      </div>
      <div class="footer_content col-gutter-lr-16">
        <h1 class="footer_title">Liên hệ</h1>
        <div class="contact_list">
          <div class="contact_item">
            Địa chỉ: 315, Trường Chinh, Phường Khương Mai, Quận Thanh Xuân, Hà Nội, Việt Nam
          </div>
          <div class="contact_item">
            SĐT: (+84) 356 208 031
          </div>
          <div class="contact_item">
            todai.easylife&#64;.com
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
