.date-input-container {
  display: flex;
  max-width: 300px;
  margin: 10px 0;
}

.date-input-container label {
  font-size: var(--font-size-md);
  color: var(--color-gray);
  width: 200px;
  text-align: justify;
}

.date-wrapper {
  z-index: 1;
  position: relative;
  display: inline-block;
  width: 100%;
}

input[type="date"] {
  width: 100%;
  padding: 10px 45px 10px 15px;
  font-size: 16px;
  color: var(--color-gray);
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;

  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="date"]:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 8px rgba(107, 181, 167, 0.3);
}

.calendar-icon {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--color-primary);
  pointer-events: none;
}

input[type="date"]{
  padding: 10px 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--color-primary);
}

.news-item-image{
  width:200px;
  height:90px;
  object-fit: cover;
  border-radius: var(--border-radius-xs);
}

.news-list{

}

.news-item:not(:last-child){
  position: relative;
  margin-bottom: 24px;
 }

.news-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
}

.title{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.content{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.topic, .time-up, .number-view{
  color: var(--color-gray);
  font-size: var(--font-size-xs);
}

.color-level{
  position: absolute;
  bottom: -13px;
  width: 100%;
  height: 3px;
  display: flex;
}

.load-more-container{

}

.load-more{
  cursor: pointer;
  color: var(--color-primary);
  padding: 4px;
}

.load-more:hover{
  text-decoration: underline;
  opacity: 0.9;
}
