.breadcrumb {
  display: flex;
  list-style: none;
  margin: 8px 0px 8px 8px;
}



.breadcrumb .breadcrumb-item a {
  display: inline-block;
  color: var(--color-text-black);
  text-decoration: none;
}

.breadcrumb .breadcrumb-item:not(:last-child) a:hover {
  text-decoration: underline;
}

/* .breadcrumb .breadcrumb-item:not(:first-child) a::before {
  display: inline-block;
  content: '/';
  padding: 0 5px;
  color: var(--color-text-black);
} */

.breadcrumb .breadcrumb-item:last-child a {
  color: var(--color-text-black);
}
