button {
  display: flex;
  align-content: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  outline: none;
  padding: 10px;
  background-color: var(--color-bg);
  color: var(--color-text);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-border-primary);
}
