<div class="grid wide">
  <div class="flex-container row-gutter-lr-16">
      <div class="flex-item--lg-9 col-gutter-lr-16">
        <app-filter-bar></app-filter-bar>
        <h1 class="desc-home">The latest news of the day, continuously updated 24h. From official news sources such as CNN, BBC, VOA, Inside Science,...</h1>
        <div class="box-news">
            <app-new-news></app-new-news>
            <app-recent-news></app-recent-news>
        </div>
      </div>
      <div class="flex-item--lg-3 col-gutter-lr-16">
        <app-topic-list></app-topic-list>
      </div>
  </div>
</div>
