<div class="news-detail">
  <h2 class="title" [innerHTML]="data.title | wordLevel"></h2>
  @if (bookmark) {
    <div class="bookmark">
      <i class="fa-solid fa-bookmark"></i>
    </div>
  }
  <div class="time-up">
    <span class="">{{data.createdAt! | formatDate}}</span>
  </div>
  <div class="flex-container justify-center">
    <img class="image" [src]="data.image" />
  </div>
  <div class="audio-player">
    <app-audio [audioFile]="data.audio"></app-audio>
  </div>
  @for (paragraph of data.paragraphs; track paragraph.id) {
    <p class="content" [innerHTML]="paragraph.content | wordLevel"></p>
  }
  <span class="source">Source: {{data.source.name}}</span>
</div>
