<div class="list-other-news">
  <a class="news-item">
    <img class="news-item-image" src="https://admin.todaienglish.com/images/news/55c695755826a4f782c38d058559a5bc.jpg"
         alt="">
    <h3 class="news-item-title" [innerHTML]="getSafeHtml(text | wordLevel)"></h3>
    <div class="news-item-info">
      <div class="news-item-source">TOIDAII</div>
      <span class="news-item-time-up">2024-11-11 22:30:03
        <span class="news-item-number-view">
        [<i class="fa-solid fa-eye"></i> 398]
        </span>
      </span>
    </div>
  </a>
  <a class="news-item">
    <img class="news-item-image" src="https://admin.todaienglish.com/images/news/55c695755826a4f782c38d058559a5bc.jpg"
         alt="">
    <h3 class="news-item-title" [innerHTML]="getSafeHtml(text | wordLevel)"></h3>
    <div class="news-item-info">
      <div class="news-item-source">TOIDAII</div>
      <span class="news-item-time-up">2024-11-11 22:30:03
        <span class="news-item-number-view">
        [<i class="fa-solid fa-eye"></i> 398]
        </span>
      </span>
    </div>
  </a>
  <a class="news-item">
    <img class="news-item-image" src="https://admin.todaienglish.com/images/news/55c695755826a4f782c38d058559a5bc.jpg"
         alt="">
    <h3 class="news-item-title" [innerHTML]="getSafeHtml(text | wordLevel)"></h3>
    <div class="news-item-info">
      <div class="news-item-source">TOIDAII</div>
      <span class="news-item-time-up">2024-11-11 22:30:03
        <span class="news-item-number-view">
        [<i class="fa-solid fa-eye"></i> 398]
        </span>
      </span>
    </div>
  </a>
</div>
