<div class="list-other-news">
  @for (item of data; track item.id) {
    <a class="news-item" routerLink="/news/{{item.id}}/detail">
      <img class="news-item-image" [src]="item.image"
           alt="">
      <h3 class="news-item-title" [innerHTML]="item.title | wordLevel"></h3>
      <div class="news-item-info">
        <div class="news-item-source">{{item.source.name}}</div>
        <span class="news-item-time-up">{{item.createdAt! | formatDate}}</span>
        <span class="news-item-number-view">
        [<i class="fa-solid fa-eye"></i> {{item.viewed}}]
        </span>
      </div>
    </a>
  }
</div>
