/* margin */
.m-4{
    margin: 4px;
}

.m-8{
    margin: 8px;
}

.m-10{
    margin: 10px;
}

.mr-6{
    margin-right: 6px;
}

.mr-10{
  margin-right: 10px;
}

.mtb-16{
    margin: 16px 0px;
}

.mt-20{
  margin-top: 20px;
}

.mb-16{
  margin-bottom: 16px;
}

/* padding */
.p-4{
    padding: 4px;
}

.p-8{
    padding: 8px;
}

.p-10{
    padding: 10px;
}

